/* 背景 */
$bg-color-red: #ff3333;
$bg-color-purple: #ff33a9;
$bg-color-orange: #ff8833;
$bg-color-blue: #3377ff;

/* 文字 */
$text-color-black: #000;
$text-color-dark: #333;
$text-color-deep: #555;
$text-color-pl: #999;
$text-color-weak: #b3b3b3;
$text-color-white: #fff;
